dataset/fma_small/*
dataset/FMA_IMAGES/*
dataset/Spotify/*
dataset/vector/*
dataset/fma/*
dataset/fma_metadata/*
Transformer/converted_segments/*
Transformer/output_segments/*
Transformer/mfcc_segments/*
Tabnet/FMA 복사본/*
DenseNet/ForDATA/tracks.csv
DenseNet/ForTraining&Testing/test_data.csv
DenseNet/ForTraining&Testing/train_valid_data.csv
DenseNet/ForTraining&Testing/figures/*
DenseNet/ForTraining&Testing/weights/*